.new-post-form {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 60px;
  .new-post-form__content {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  &__btn {
    width: 100%;
    height: 50px;
    background-color: #EA352C;
    color: #fff;
    border-style: none;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
  }
  &__btn:hover {
    opacity: .7;
  }
}