.content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
  .content-title {
    margin-bottom: 0;
  }
  .tag-list {
    display: inline-block;
    color: #fff;
    background-color: #EA352C;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 10px;
  }
  .content-space {
    width: 100%;
    height: 25px;
    span {
      font-size: 12px;
      color: #b3b3b3;
    }
    &__item {
      float: right;
      a {
        display: inline-block;
        background-color: #EA352C;
        text-decoration: none;
        border-radius: 3px;
        padding: 2px 8px;
        font-size: 14px;
        color: #fff;
      }
      a:hover {
        opacity: .7;
      }
    }
  }
  
  img {
    width: 100%;
    margin-bottom: 5px;
  }
  .content-text {
    min-height: 200px;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }
  .comment-wrapper {
    width: 100%;
    .comment-summary {
      margin: 30px 0 0;
      margin-bottom: 0;
    }
    .comment-content__list {
      margin-top: 10px;
      border-top: 1px dashed #dadada;
      border-bottom: 1px dashed #dadada;
      &__text {
        margin-bottom: 5px;
        p {
          margin: 5px 0 0;
        }
      }
      span {
        color: #b3b3b3;
        font-size: 12px;
        padding-right: 5px;
      }
    }
    .comment-form {
      width: 100%;
      margin-top: 20px;
      &__text {
        width: 100%;
        border-style: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
      }
      &__btn {
        float: right;
        color: #fff;
        width: 40%;
        height: 34px;
        margin-top: 3px;
        border-radius: 3px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        background-color: #EA352C;
        border-style: none;
      }
      &__btn:hover {
        opacity: .7;
      }
    }
    .clearfix::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}